<h1>Question</h1>
<div class="ticket-container">
    <div class="question">
        <P>{{foundTicket.problem}}</P>
        <p>Posted By: {{foundTicket.poster}}</p>
        <p>Add Your Response Using the Fields Below:</p>
        <p>Your Answer:</p>
        <input class="input" type="text" [(ngModel)]="foundTicket.answer">
        <p>Your Username:</p>
        <input class="input" type="text" [(ngModel)]="foundTicket.commenter">
        <button (click)="updateTicketAnswer()">Submit & Return</button>
    </div>
</div>