<ul>
    <li *ngFor="let t of tickets; index as i">
        <h2>Ticket {{t.id}}</h2>
        <p>Resolved: {{t.resolved}}</p>
        <p>Question: {{t.problem}}</p>
        <p *ngIf="t.answer !== null">Answer: {{t.answer}}</p>
        <p>Posted By: {{t.poster}}</p>
        <p *ngIf="t.commenter !== null">Answered By: {{t.commenter}}</p>
        <button *ngIf="t.resolved !== true" [routerLink]="['/update-ticket', t.id]">Answer This Question</button>
        <button (click)="bookmarkTicket(t.id)"> Bookmark This Ticket</button>
        <button (click)="onBack()">Back To List</button>
    </li>
</ul>