<h1>Our Mission Statement</h1>
<div class="mission-container">
  <ul class="mission-list">
    <p>Have you ever dreamed of a tech-help website with:</p>
    <ul>
      <li>Simple, easy to read responses to common coding problems?</li>
      <li>Friendlier, less pedantic programmers who don't just answer every question with "Google It"?</li>
      <li>A question catalog laser-focused on providing insight to the most current coding subjects?</li>
    </ul>
    <br>
    <p>Well, if so...then I'm afraid this website isn't for you.</p>
    <p>Here at The "Help" Desk, we take the quotations in our name very seriously:</p>
    <ul>
      <li>You WON'T receive much genuine help here...But after using our platform you will technically be seeking
        "help"
        from a therapist.
      </li>
      <li>You WILL encounter deeply confused users who ask non-programmatic questions on a supposedly
        programming-related
        site.
      <li>You WILL encounter developers so distraught by the silly questions they're receiving that they are even more
        hostile than on StackOverflow!
      </li>
    </ul>
    <br>
    <p>Feel free to browse through our catalog of exceedingly random posts....</p>
    <p> and exceedingly exasperated answers from underpaid devs.</p>
  </ul>
</div>